include MANIFEST.in
include README.txt
include ez_setup.py
include mwlib/__init__.py
include mwlib/_extversion.py
include mwlib/ext.py
include mwlib/reportlab/MANIFEST.in
include mwlib/reportlab/README
include mwlib/reportlab/__init__.py
include mwlib/reportlab/changes
include mwlib/reportlab/demos/colors/colortest.py
include mwlib/reportlab/demos/gadflypaper/00readme.txt
include mwlib/reportlab/demos/gadflypaper/gfe.py
include mwlib/reportlab/demos/odyssey/00readme.txt
include mwlib/reportlab/demos/odyssey/dodyssey.py
include mwlib/reportlab/demos/odyssey/fodyssey.py
include mwlib/reportlab/demos/odyssey/odyssey.py
include mwlib/reportlab/demos/odyssey/odyssey.txt
include mwlib/reportlab/demos/rlzope/readme.txt
include mwlib/reportlab/demos/rlzope/rlzope.py
include mwlib/reportlab/demos/stdfonts/00readme.txt
include mwlib/reportlab/demos/stdfonts/stdfonts.py
include mwlib/reportlab/demos/tests/testdemos.py
include mwlib/reportlab/docs/00readme.txt
include mwlib/reportlab/docs/genAll.py
include mwlib/reportlab/docs/graphguide/ch1_intro.py
include mwlib/reportlab/docs/graphguide/ch2_concepts.py
include mwlib/reportlab/docs/graphguide/ch3_shapes.py
include mwlib/reportlab/docs/graphguide/ch4_widgets.py
include mwlib/reportlab/docs/graphguide/ch5_charts.py
include mwlib/reportlab/docs/graphguide/gengraphguide.py
include mwlib/reportlab/docs/images/Edit_Prefs.gif
include mwlib/reportlab/docs/images/Python_21.gif
include mwlib/reportlab/docs/images/Python_21_HINT.gif
include mwlib/reportlab/docs/images/fileExchange.gif
include mwlib/reportlab/docs/images/jpn.gif
include mwlib/reportlab/docs/images/jpnchars.jpg
include mwlib/reportlab/docs/images/lj8100.jpg
include mwlib/reportlab/docs/images/redsquare.png
include mwlib/reportlab/docs/images/replogo.a85
include mwlib/reportlab/docs/images/replogo.gif
include mwlib/reportlab/docs/images/testimg.gif
include mwlib/reportlab/docs/reference/build.bat
include mwlib/reportlab/docs/reference/genreference.py
include mwlib/reportlab/docs/reference/reference.yml
include mwlib/reportlab/docs/userguide/app_demos.py
include mwlib/reportlab/docs/userguide/ch1_intro.py
include mwlib/reportlab/docs/userguide/ch2_graphics.py
include mwlib/reportlab/docs/userguide/ch2a_fonts.py
include mwlib/reportlab/docs/userguide/ch3_pdffeatures.py
include mwlib/reportlab/docs/userguide/ch4_platypus_concepts.py
include mwlib/reportlab/docs/userguide/ch5_paragraphs.py
include mwlib/reportlab/docs/userguide/ch6_tables.py
include mwlib/reportlab/docs/userguide/ch7_custom.py
include mwlib/reportlab/docs/userguide/ch9_future.py
include mwlib/reportlab/docs/userguide/genuserguide.py
include mwlib/reportlab/docs/userguide/testfile.txt
include mwlib/reportlab/extensions/README
include mwlib/reportlab/extensions/__init__.py
include mwlib/reportlab/fonts/00readme.txt
include mwlib/reportlab/fonts/LeERC___.AFM
include mwlib/reportlab/fonts/LeERC___.PFB
include mwlib/reportlab/fonts/Vera.ttf
include mwlib/reportlab/fonts/VeraBI.ttf
include mwlib/reportlab/fonts/VeraBd.ttf
include mwlib/reportlab/fonts/VeraIt.ttf
include mwlib/reportlab/fonts/bitstream-vera-license.txt
include mwlib/reportlab/fonts/luxiserif.ttf
include mwlib/reportlab/fonts/luxiserif_license.txt
include mwlib/reportlab/fonts/rina.ttf
include mwlib/reportlab/fonts/rina_license.txt
include mwlib/reportlab/graphics/__init__.py
include mwlib/reportlab/graphics/barcode/README
include mwlib/reportlab/graphics/barcode/TODO
include mwlib/reportlab/graphics/barcode/VERSION
include mwlib/reportlab/graphics/barcode/__init__.py
include mwlib/reportlab/graphics/barcode/code128.py
include mwlib/reportlab/graphics/barcode/code39.py
include mwlib/reportlab/graphics/barcode/code93.py
include mwlib/reportlab/graphics/barcode/common.py
include mwlib/reportlab/graphics/barcode/eanbc.py
include mwlib/reportlab/graphics/barcode/fourstate.py
include mwlib/reportlab/graphics/barcode/lto.py
include mwlib/reportlab/graphics/barcode/test.py
include mwlib/reportlab/graphics/barcode/usps.py
include mwlib/reportlab/graphics/barcode/usps4s.py
include mwlib/reportlab/graphics/barcode/widgets.py
include mwlib/reportlab/graphics/charts/__init__.py
include mwlib/reportlab/graphics/charts/areas.py
include mwlib/reportlab/graphics/charts/axes.py
include mwlib/reportlab/graphics/charts/barcharts.py
include mwlib/reportlab/graphics/charts/dotbox.py
include mwlib/reportlab/graphics/charts/doughnut.py
include mwlib/reportlab/graphics/charts/legends.py
include mwlib/reportlab/graphics/charts/linecharts.py
include mwlib/reportlab/graphics/charts/lineplots.py
include mwlib/reportlab/graphics/charts/markers.py
include mwlib/reportlab/graphics/charts/piecharts.py
include mwlib/reportlab/graphics/charts/slidebox.py
include mwlib/reportlab/graphics/charts/spider.py
include mwlib/reportlab/graphics/charts/textlabels.py
include mwlib/reportlab/graphics/charts/utils.py
include mwlib/reportlab/graphics/charts/utils3d.py
include mwlib/reportlab/graphics/renderPDF.py
include mwlib/reportlab/graphics/renderPM.py
include mwlib/reportlab/graphics/renderPS.py
include mwlib/reportlab/graphics/renderSVG.py
include mwlib/reportlab/graphics/renderbase.py
include mwlib/reportlab/graphics/samples/__init__.py
include mwlib/reportlab/graphics/samples/bubble.py
include mwlib/reportlab/graphics/samples/clustered_bar.py
include mwlib/reportlab/graphics/samples/clustered_column.py
include mwlib/reportlab/graphics/samples/excelcolors.py
include mwlib/reportlab/graphics/samples/exploded_pie.py
include mwlib/reportlab/graphics/samples/filled_radar.py
include mwlib/reportlab/graphics/samples/line_chart.py
include mwlib/reportlab/graphics/samples/linechart_with_markers.py
include mwlib/reportlab/graphics/samples/radar.py
include mwlib/reportlab/graphics/samples/runall.py
include mwlib/reportlab/graphics/samples/scatter.py
include mwlib/reportlab/graphics/samples/scatter_lines.py
include mwlib/reportlab/graphics/samples/scatter_lines_markers.py
include mwlib/reportlab/graphics/samples/simple_pie.py
include mwlib/reportlab/graphics/samples/stacked_bar.py
include mwlib/reportlab/graphics/samples/stacked_column.py
include mwlib/reportlab/graphics/shapes.py
include mwlib/reportlab/graphics/testdrawings.py
include mwlib/reportlab/graphics/testshapes.py
include mwlib/reportlab/graphics/widgetbase.py
include mwlib/reportlab/graphics/widgets/__init__.py
include mwlib/reportlab/graphics/widgets/eventcal.py
include mwlib/reportlab/graphics/widgets/flags.py
include mwlib/reportlab/graphics/widgets/grids.py
include mwlib/reportlab/graphics/widgets/markers.py
include mwlib/reportlab/graphics/widgets/signsandsymbols.py
include mwlib/reportlab/lib/PyFontify.py
include mwlib/reportlab/lib/__init__.py
include mwlib/reportlab/lib/abag.py
include mwlib/reportlab/lib/attrmap.py
include mwlib/reportlab/lib/boxstuff.py
include mwlib/reportlab/lib/codecharts.py
include mwlib/reportlab/lib/colors.py
include mwlib/reportlab/lib/corp.py
include mwlib/reportlab/lib/enums.py
include mwlib/reportlab/lib/extformat.py
include mwlib/reportlab/lib/fontfinder.py
include mwlib/reportlab/lib/fonts.py
include mwlib/reportlab/lib/formatters.py
include mwlib/reportlab/lib/logger.py
include mwlib/reportlab/lib/normalDate.py
include mwlib/reportlab/lib/pagesizes.py
include mwlib/reportlab/lib/randomtext.py
include mwlib/reportlab/lib/rltempfile.py
include mwlib/reportlab/lib/rparsexml.py
include mwlib/reportlab/lib/sequencer.py
include mwlib/reportlab/lib/set_ops.py
include mwlib/reportlab/lib/styles.py
include mwlib/reportlab/lib/textsplit.py
include mwlib/reportlab/lib/tocindex.py
include mwlib/reportlab/lib/units.py
include mwlib/reportlab/lib/utils.py
include mwlib/reportlab/lib/validators.py
include mwlib/reportlab/lib/xmllib.py
include mwlib/reportlab/lib/yaml.py
include mwlib/reportlab/license.txt
include mwlib/reportlab/pdfbase/__init__.py
include mwlib/reportlab/pdfbase/_can_cmap_data.py
include mwlib/reportlab/pdfbase/_cidfontdata.py
include mwlib/reportlab/pdfbase/_fontdata.py
include mwlib/reportlab/pdfbase/cidfonts.py
include mwlib/reportlab/pdfbase/pdfdoc.py
include mwlib/reportlab/pdfbase/pdfform.py
include mwlib/reportlab/pdfbase/pdfmetrics.py
include mwlib/reportlab/pdfbase/pdfpattern.py
include mwlib/reportlab/pdfbase/pdfutils.py
include mwlib/reportlab/pdfbase/rl_codecs.py
include mwlib/reportlab/pdfbase/ttfonts.py
include mwlib/reportlab/pdfgen/__init__.py
include mwlib/reportlab/pdfgen/canvas.py
include mwlib/reportlab/pdfgen/pathobject.py
include mwlib/reportlab/pdfgen/pdfgeom.py
include mwlib/reportlab/pdfgen/pdfimages.py
include mwlib/reportlab/pdfgen/pycanvas.py
include mwlib/reportlab/pdfgen/textobject.py
include mwlib/reportlab/platypus/__init__.py
include mwlib/reportlab/platypus/doctemplate.py
include mwlib/reportlab/platypus/figures.py
include mwlib/reportlab/platypus/flowables.py
include mwlib/reportlab/platypus/frames.py
include mwlib/reportlab/platypus/para.py
include mwlib/reportlab/platypus/paragraph.py
include mwlib/reportlab/platypus/paraparser.py
include mwlib/reportlab/platypus/tableofcontents.py
include mwlib/reportlab/platypus/tables.py
include mwlib/reportlab/platypus/xpreformatted.py
include mwlib/reportlab/rl_config.py
include mwlib/reportlab/setup.py
include mwlib/reportlab/test/00readme.txt
include mwlib/reportlab/test/__init__.py
include mwlib/reportlab/test/alpha_test.png
include mwlib/reportlab/test/pythonpowered.gif
include mwlib/reportlab/test/runAll.py
include mwlib/reportlab/test/solid_red_alpha.png
include mwlib/reportlab/test/test_charts_textlabels.py
include mwlib/reportlab/test/test_docs_build.py
include mwlib/reportlab/test/test_docstrings.py
include mwlib/reportlab/test/test_extra.py
include mwlib/reportlab/test/test_graphics_charts.py
include mwlib/reportlab/test/test_graphics_images.py
include mwlib/reportlab/test/test_graphics_layout.py
include mwlib/reportlab/test/test_graphics_speed.py
include mwlib/reportlab/test/test_hello.py
include mwlib/reportlab/test/test_images.py
include mwlib/reportlab/test/test_invariant.py
include mwlib/reportlab/test/test_lib_colors.py
include mwlib/reportlab/test/test_lib_sequencer.py
include mwlib/reportlab/test/test_lib_utils.py
include mwlib/reportlab/test/test_lib_validators.py
include mwlib/reportlab/test/test_multibyte_chs.py
include mwlib/reportlab/test/test_multibyte_cht.py
include mwlib/reportlab/test/test_multibyte_jpn.py
include mwlib/reportlab/test/test_multibyte_kor.py
include mwlib/reportlab/test/test_paragraphs.py
include mwlib/reportlab/test/test_pdfbase_encodings.py
include mwlib/reportlab/test/test_pdfbase_fontembed.py
include mwlib/reportlab/test/test_pdfbase_pdfmetrics.py
include mwlib/reportlab/test/test_pdfbase_pdfutils.py
include mwlib/reportlab/test/test_pdfbase_postscript.py
include mwlib/reportlab/test/test_pdfbase_ttfonts.py
include mwlib/reportlab/test/test_pdfgen_callback.py
include mwlib/reportlab/test/test_pdfgen_general.py
include mwlib/reportlab/test/test_pdfgen_links.py
include mwlib/reportlab/test/test_pdfgen_pagemodes.py
include mwlib/reportlab/test/test_pdfgen_pycanvas.py
include mwlib/reportlab/test/test_platypus_breaking.py
include mwlib/reportlab/test/test_platypus_general.py
include mwlib/reportlab/test/test_platypus_indents.py
include mwlib/reportlab/test/test_platypus_leftright.py
include mwlib/reportlab/test/test_platypus_paragraphs.py
include mwlib/reportlab/test/test_platypus_paraparser.py
include mwlib/reportlab/test/test_platypus_pleaseturnover.py
include mwlib/reportlab/test/test_platypus_tables.py
include mwlib/reportlab/test/test_platypus_toc.py
include mwlib/reportlab/test/test_platypus_xref.py
include mwlib/reportlab/test/test_pyfiles.py
include mwlib/reportlab/test/test_renderSVG.py
include mwlib/reportlab/test/test_rl_accel.py
include mwlib/reportlab/test/test_source_chars.py
include mwlib/reportlab/test/test_table_layout.py
include mwlib/reportlab/test/test_tools_pythonpoint.py
include mwlib/reportlab/test/test_utils.py
include mwlib/reportlab/test/test_widgetbase_tpc.py
include mwlib/reportlab/test/test_widgets_grids.py
include mwlib/reportlab/test/unittest.py
include mwlib/reportlab/test/utils.py
include mwlib/reportlab/tools/README
include mwlib/reportlab/tools/__init__.py
include mwlib/reportlab/tools/docco/README
include mwlib/reportlab/tools/docco/__init__.py
include mwlib/reportlab/tools/docco/codegrab.py
include mwlib/reportlab/tools/docco/docpy.py
include mwlib/reportlab/tools/docco/examples.py
include mwlib/reportlab/tools/docco/graphdocpy.py
include mwlib/reportlab/tools/docco/rl_doc_utils.py
include mwlib/reportlab/tools/docco/rltemplate.py
include mwlib/reportlab/tools/docco/stylesheet.py
include mwlib/reportlab/tools/docco/t_parse.py
include mwlib/reportlab/tools/docco/yaml.py
include mwlib/reportlab/tools/docco/yaml2pdf.py
include mwlib/reportlab/tools/py2pdf/README
include mwlib/reportlab/tools/py2pdf/__init__.py
include mwlib/reportlab/tools/py2pdf/demo-config.txt
include mwlib/reportlab/tools/py2pdf/demo.py
include mwlib/reportlab/tools/py2pdf/idle_print.py
include mwlib/reportlab/tools/py2pdf/py2pdf.py
include mwlib/reportlab/tools/py2pdf/vertpython.jpg
include mwlib/reportlab/tools/pythonpoint/README
include mwlib/reportlab/tools/pythonpoint/__init__.py
include mwlib/reportlab/tools/pythonpoint/customshapes.py
include mwlib/reportlab/tools/pythonpoint/demos/LeERC___.AFM
include mwlib/reportlab/tools/pythonpoint/demos/LeERC___.PFB
include mwlib/reportlab/tools/pythonpoint/demos/examples.py
include mwlib/reportlab/tools/pythonpoint/demos/figures.xml
include mwlib/reportlab/tools/pythonpoint/demos/htu.xml
include mwlib/reportlab/tools/pythonpoint/demos/leftlogo.a85
include mwlib/reportlab/tools/pythonpoint/demos/leftlogo.gif
include mwlib/reportlab/tools/pythonpoint/demos/lj8100.jpg
include mwlib/reportlab/tools/pythonpoint/demos/monterey.xml
include mwlib/reportlab/tools/pythonpoint/demos/outline.gif
include mwlib/reportlab/tools/pythonpoint/demos/pplogo.gif
include mwlib/reportlab/tools/pythonpoint/demos/python.gif
include mwlib/reportlab/tools/pythonpoint/demos/pythonpoint.xml
include mwlib/reportlab/tools/pythonpoint/demos/slidebox.py
include mwlib/reportlab/tools/pythonpoint/demos/spectrum.png
include mwlib/reportlab/tools/pythonpoint/demos/vertpython.gif
include mwlib/reportlab/tools/pythonpoint/pythonpoint.dtd
include mwlib/reportlab/tools/pythonpoint/pythonpoint.py
include mwlib/reportlab/tools/pythonpoint/stdparser.py
include mwlib/reportlab/tools/pythonpoint/styles/__init__.py
include mwlib/reportlab/tools/pythonpoint/styles/horrible.py
include mwlib/reportlab/tools/pythonpoint/styles/htu.py
include mwlib/reportlab/tools/pythonpoint/styles/modern.py
include mwlib/reportlab/tools/pythonpoint/styles/projection.py
include mwlib/reportlab/tools/pythonpoint/styles/standard.py
include mwlib/reportlab/tools/utils/add_bleed.py
include mwlib/reportlab/tools/utils/dumpttf.py
include mwlib/rl_addons/README
include mwlib/rl_addons/pyRXP/MANIFEST.in
include mwlib/rl_addons/pyRXP/PROJECT_CVS_TAG
include mwlib/rl_addons/pyRXP/README
include mwlib/rl_addons/pyRXP/docs/PyRXP_Documentation.rml
include mwlib/rl_addons/pyRXP/docs/replogo.gif
include mwlib/rl_addons/pyRXP/examples/00readme.txt
include mwlib/rl_addons/pyRXP/examples/benchmarks.py
include mwlib/rl_addons/pyRXP/examples/doc_examples.py
include mwlib/rl_addons/pyRXP/examples/expattree.py
include mwlib/rl_addons/pyRXP/examples/hamlet.xml
include mwlib/rl_addons/pyRXP/examples/play.dtd
include mwlib/rl_addons/pyRXP/examples/rml_a.dtd
include mwlib/rl_addons/pyRXP/examples/rml_a.xml
include mwlib/rl_addons/pyRXP/examples/sample1.xml
include mwlib/rl_addons/pyRXP/examples/sample2.xml
include mwlib/rl_addons/pyRXP/examples/sample3.xml
include mwlib/rl_addons/pyRXP/examples/sample4.xml
include mwlib/rl_addons/pyRXP/examples/tinydtd.dtd
include mwlib/rl_addons/pyRXP/examples/xmlutils.py
include mwlib/rl_addons/pyRXP/filelist.txt
include mwlib/rl_addons/pyRXP/patches/differ.bat
include mwlib/rl_addons/pyRXP/patches/rl-1.4.0-patch
include mwlib/rl_addons/pyRXP/pyRXP.c
include mwlib/rl_addons/pyRXP/rxp/COPYING
include mwlib/rl_addons/pyRXP/rxp/COPYRIGHT
include mwlib/rl_addons/pyRXP/rxp/Makefile
include mwlib/rl_addons/pyRXP/rxp/Manual
include mwlib/rl_addons/pyRXP/rxp/RELNOTES
include mwlib/rl_addons/pyRXP/rxp/Threads
include mwlib/rl_addons/pyRXP/rxp/catalog.c
include mwlib/rl_addons/pyRXP/rxp/catalog.h
include mwlib/rl_addons/pyRXP/rxp/catalog_dtd.c
include mwlib/rl_addons/pyRXP/rxp/catutil.c
include mwlib/rl_addons/pyRXP/rxp/catutil.h
include mwlib/rl_addons/pyRXP/rxp/charset.c
include mwlib/rl_addons/pyRXP/rxp/charset.h
include mwlib/rl_addons/pyRXP/rxp/ctype16.c
include mwlib/rl_addons/pyRXP/rxp/ctype16.h
include mwlib/rl_addons/pyRXP/rxp/dtd.c
include mwlib/rl_addons/pyRXP/rxp/dtd.h
include mwlib/rl_addons/pyRXP/rxp/entityopener.c
include mwlib/rl_addons/pyRXP/rxp/hash.c
include mwlib/rl_addons/pyRXP/rxp/hash.h
include mwlib/rl_addons/pyRXP/rxp/http.c
include mwlib/rl_addons/pyRXP/rxp/http.h
include mwlib/rl_addons/pyRXP/rxp/infoset-print.c
include mwlib/rl_addons/pyRXP/rxp/infoset-print.h
include mwlib/rl_addons/pyRXP/rxp/input.c
include mwlib/rl_addons/pyRXP/rxp/input.h
include mwlib/rl_addons/pyRXP/rxp/namespaces.c
include mwlib/rl_addons/pyRXP/rxp/namespaces.h
include mwlib/rl_addons/pyRXP/rxp/nf16check.c
include mwlib/rl_addons/pyRXP/rxp/nf16check.h
include mwlib/rl_addons/pyRXP/rxp/nf16data.c
include mwlib/rl_addons/pyRXP/rxp/nf16data.h
include mwlib/rl_addons/pyRXP/rxp/resolve.c
include mwlib/rl_addons/pyRXP/rxp/rxp.1
include mwlib/rl_addons/pyRXP/rxp/rxp.c
include mwlib/rl_addons/pyRXP/rxp/rxputil.h
include mwlib/rl_addons/pyRXP/rxp/stdio16.c
include mwlib/rl_addons/pyRXP/rxp/stdio16.h
include mwlib/rl_addons/pyRXP/rxp/string16.c
include mwlib/rl_addons/pyRXP/rxp/string16.h
include mwlib/rl_addons/pyRXP/rxp/system.c
include mwlib/rl_addons/pyRXP/rxp/system.h
include mwlib/rl_addons/pyRXP/rxp/url.c
include mwlib/rl_addons/pyRXP/rxp/url.h
include mwlib/rl_addons/pyRXP/rxp/version.c
include mwlib/rl_addons/pyRXP/rxp/version.h
include mwlib/rl_addons/pyRXP/rxp/xmlparser.c
include mwlib/rl_addons/pyRXP/rxp/xmlparser.h
include mwlib/rl_addons/pyRXP/setup.py
include mwlib/rl_addons/pyRXP/test/leaktest.py
include mwlib/rl_addons/pyRXP/test/testRXPbasic.py
include mwlib/rl_addons/pyRXP/test/test_xmltestsuite.py
include mwlib/rl_addons/pyRXP/test/tpyRXP.py
include mwlib/rl_addons/renderPM/MANIFEST.in
include mwlib/rl_addons/renderPM/_renderPM.c
include mwlib/rl_addons/renderPM/gt1/gt1-dict.c
include mwlib/rl_addons/renderPM/gt1/gt1-dict.h
include mwlib/rl_addons/renderPM/gt1/gt1-misc.h
include mwlib/rl_addons/renderPM/gt1/gt1-namecontext.c
include mwlib/rl_addons/renderPM/gt1/gt1-namecontext.h
include mwlib/rl_addons/renderPM/gt1/gt1-parset1.c
include mwlib/rl_addons/renderPM/gt1/gt1-parset1.h
include mwlib/rl_addons/renderPM/gt1/gt1-region.c
include mwlib/rl_addons/renderPM/gt1/gt1-region.h
include mwlib/rl_addons/renderPM/gt1/gt1-value.h
include mwlib/rl_addons/renderPM/gt1/parseAFM.c
include mwlib/rl_addons/renderPM/gt1/parseAFM.h
include mwlib/rl_addons/renderPM/libart_lgpl/AUTHORS
include mwlib/rl_addons/renderPM/libart_lgpl/COPYING
include mwlib/rl_addons/renderPM/libart_lgpl/ChangeLog
include mwlib/rl_addons/renderPM/libart_lgpl/Makefile.am
include mwlib/rl_addons/renderPM/libart_lgpl/NEWS
include mwlib/rl_addons/renderPM/libart_lgpl/README
include mwlib/rl_addons/renderPM/libart_lgpl/README.CVS
include mwlib/rl_addons/renderPM/libart_lgpl/acconfig.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_affine.c
include mwlib/rl_addons/renderPM/libart_lgpl/art_affine.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_alphagamma.c
include mwlib/rl_addons/renderPM/libart_lgpl/art_alphagamma.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_bpath.c
include mwlib/rl_addons/renderPM/libart_lgpl/art_bpath.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_config.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_filterlevel.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_gray_svp.c
include mwlib/rl_addons/renderPM/libart_lgpl/art_gray_svp.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_misc.c
include mwlib/rl_addons/renderPM/libart_lgpl/art_misc.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_pathcode.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_pixbuf.c
include mwlib/rl_addons/renderPM/libart_lgpl/art_pixbuf.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_point.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_rect.c
include mwlib/rl_addons/renderPM/libart_lgpl/art_rect.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_rect_svp.c
include mwlib/rl_addons/renderPM/libart_lgpl/art_rect_svp.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_rect_uta.c
include mwlib/rl_addons/renderPM/libart_lgpl/art_rect_uta.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_render.c
include mwlib/rl_addons/renderPM/libart_lgpl/art_render.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_render_gradient.c
include mwlib/rl_addons/renderPM/libart_lgpl/art_render_gradient.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_render_mask.c
include mwlib/rl_addons/renderPM/libart_lgpl/art_render_mask.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_render_svp.c
include mwlib/rl_addons/renderPM/libart_lgpl/art_render_svp.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_rgb.c
include mwlib/rl_addons/renderPM/libart_lgpl/art_rgb.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_rgb_a_affine.c
include mwlib/rl_addons/renderPM/libart_lgpl/art_rgb_a_affine.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_rgb_affine.c
include mwlib/rl_addons/renderPM/libart_lgpl/art_rgb_affine.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_rgb_affine_private.c
include mwlib/rl_addons/renderPM/libart_lgpl/art_rgb_affine_private.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_rgb_bitmap_affine.c
include mwlib/rl_addons/renderPM/libart_lgpl/art_rgb_bitmap_affine.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_rgb_pixbuf_affine.c
include mwlib/rl_addons/renderPM/libart_lgpl/art_rgb_pixbuf_affine.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_rgb_rgba_affine.c
include mwlib/rl_addons/renderPM/libart_lgpl/art_rgb_rgba_affine.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_rgb_svp.c
include mwlib/rl_addons/renderPM/libart_lgpl/art_rgb_svp.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_rgba.c
include mwlib/rl_addons/renderPM/libart_lgpl/art_rgba.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_svp.c
include mwlib/rl_addons/renderPM/libart_lgpl/art_svp.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_svp_intersect.c
include mwlib/rl_addons/renderPM/libart_lgpl/art_svp_intersect.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_svp_ops.c
include mwlib/rl_addons/renderPM/libart_lgpl/art_svp_ops.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_svp_point.c
include mwlib/rl_addons/renderPM/libart_lgpl/art_svp_point.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_svp_render_aa.c
include mwlib/rl_addons/renderPM/libart_lgpl/art_svp_render_aa.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_svp_vpath.c
include mwlib/rl_addons/renderPM/libart_lgpl/art_svp_vpath.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_svp_vpath_stroke.c
include mwlib/rl_addons/renderPM/libart_lgpl/art_svp_vpath_stroke.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_svp_wind.c
include mwlib/rl_addons/renderPM/libart_lgpl/art_svp_wind.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_uta.c
include mwlib/rl_addons/renderPM/libart_lgpl/art_uta.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_uta_ops.c
include mwlib/rl_addons/renderPM/libart_lgpl/art_uta_ops.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_uta_rect.c
include mwlib/rl_addons/renderPM/libart_lgpl/art_uta_rect.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_uta_svp.c
include mwlib/rl_addons/renderPM/libart_lgpl/art_uta_svp.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_uta_vpath.c
include mwlib/rl_addons/renderPM/libart_lgpl/art_uta_vpath.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_vpath.c
include mwlib/rl_addons/renderPM/libart_lgpl/art_vpath.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_vpath_bpath.c
include mwlib/rl_addons/renderPM/libart_lgpl/art_vpath_bpath.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_vpath_dash.c
include mwlib/rl_addons/renderPM/libart_lgpl/art_vpath_dash.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_vpath_svp.c
include mwlib/rl_addons/renderPM/libart_lgpl/art_vpath_svp.h
include mwlib/rl_addons/renderPM/libart_lgpl/autogen.sh
include mwlib/rl_addons/renderPM/libart_lgpl/config.h
include mwlib/rl_addons/renderPM/libart_lgpl/configure.in
include mwlib/rl_addons/renderPM/libart_lgpl/gen_art_config.c
include mwlib/rl_addons/renderPM/libart_lgpl/libart-2.0.pc.in
include mwlib/rl_addons/renderPM/libart_lgpl/libart-config.in
include mwlib/rl_addons/renderPM/libart_lgpl/libart-features.c
include mwlib/rl_addons/renderPM/libart_lgpl/libart-features.h.in
include mwlib/rl_addons/renderPM/libart_lgpl/libart.h
include mwlib/rl_addons/renderPM/libart_lgpl/libart.m4
include mwlib/rl_addons/renderPM/libart_lgpl/libartConf.sh.in
include mwlib/rl_addons/renderPM/libart_lgpl/test_gradient.c
include mwlib/rl_addons/renderPM/libart_lgpl/testart.c
include mwlib/rl_addons/renderPM/libart_lgpl/testuta.c
include mwlib/rl_addons/renderPM/pfm.py
include mwlib/rl_addons/renderPM/setup.py
include mwlib/rl_addons/renderPM/test_renderPM.py
include mwlib/rl_addons/renderPM/tr.py
include mwlib/rl_addons/rl_accel/MANIFEST.in
include mwlib/rl_addons/rl_accel/Makefile.pre.in
include mwlib/rl_addons/rl_accel/README.extensions
include mwlib/rl_addons/rl_accel/Setup.in
include mwlib/rl_addons/rl_accel/__BUILD.dsw
include mwlib/rl_addons/rl_accel/_rl_accel.c
include mwlib/rl_addons/rl_accel/_rl_accel.dsp
include mwlib/rl_addons/rl_accel/_rl_accel.java
include mwlib/rl_addons/rl_accel/hnjalloc.c
include mwlib/rl_addons/rl_accel/hnjalloc.h
include mwlib/rl_addons/rl_accel/hyphen.c
include mwlib/rl_addons/rl_accel/hyphen.h
include mwlib/rl_addons/rl_accel/hyphen.mashed
include mwlib/rl_addons/rl_accel/pyHnj.dsp
include mwlib/rl_addons/rl_accel/pyHnjmodule.c
include mwlib/rl_addons/rl_accel/setup.py
include mwlib/rl_addons/rl_accel/sgmlop.c
include mwlib/rl_addons/rl_accel/sgmlop.dsp
include mwlib/rl_addons/rl_accel/tests/getrc.py
include mwlib/rl_addons/rl_accel/tests/t0.py
include mwlib/rl_addons/rl_accel/tests/t1.py
include mwlib/rl_addons/rl_accel/tests/t2.py
include mwlib/rl_addons/rl_accel/tests/t3.py
include mwlib/rl_addons/rl_accel/tests/t4.py
include mwlib/rl_addons/rl_accel/tests/t5.py
include setup.py
