include MANIFEST.in
include README.txt
include ez_setup.py
include mwlib/__init__.py
include mwlib/_extversion.py
include mwlib/ext.py
include mwlib/reportlab/MANIFEST.in
include mwlib/reportlab/__init__.py
include mwlib/reportlab/fonts/00readme.txt
include mwlib/reportlab/fonts/DarkGarden-changelog.txt
include mwlib/reportlab/fonts/DarkGarden-copying-gpl.txt
include mwlib/reportlab/fonts/DarkGarden-copying.txt
include mwlib/reportlab/fonts/DarkGarden-readme.txt
include mwlib/reportlab/fonts/DarkGarden.sfd
include mwlib/reportlab/fonts/DarkGardenMK.afm
include mwlib/reportlab/fonts/DarkGardenMK.pfb
include mwlib/reportlab/fonts/Vera.ttf
include mwlib/reportlab/fonts/VeraBI.ttf
include mwlib/reportlab/fonts/VeraBd.ttf
include mwlib/reportlab/fonts/VeraIt.ttf
include mwlib/reportlab/fonts/bitstream-vera-license.txt
include mwlib/reportlab/graphics/__init__.py
include mwlib/reportlab/graphics/barcode/README
include mwlib/reportlab/graphics/barcode/TODO
include mwlib/reportlab/graphics/barcode/VERSION
include mwlib/reportlab/graphics/barcode/__init__.py
include mwlib/reportlab/graphics/barcode/code128.py
include mwlib/reportlab/graphics/barcode/code39.py
include mwlib/reportlab/graphics/barcode/code93.py
include mwlib/reportlab/graphics/barcode/common.py
include mwlib/reportlab/graphics/barcode/eanbc.py
include mwlib/reportlab/graphics/barcode/fourstate.py
include mwlib/reportlab/graphics/barcode/lto.py
include mwlib/reportlab/graphics/barcode/test.py
include mwlib/reportlab/graphics/barcode/usps.py
include mwlib/reportlab/graphics/barcode/usps4s.py
include mwlib/reportlab/graphics/barcode/widgets.py
include mwlib/reportlab/graphics/charts/__init__.py
include mwlib/reportlab/graphics/charts/areas.py
include mwlib/reportlab/graphics/charts/axes.py
include mwlib/reportlab/graphics/charts/barcharts.py
include mwlib/reportlab/graphics/charts/dotbox.py
include mwlib/reportlab/graphics/charts/doughnut.py
include mwlib/reportlab/graphics/charts/legends.py
include mwlib/reportlab/graphics/charts/linecharts.py
include mwlib/reportlab/graphics/charts/lineplots.py
include mwlib/reportlab/graphics/charts/markers.py
include mwlib/reportlab/graphics/charts/piecharts.py
include mwlib/reportlab/graphics/charts/slidebox.py
include mwlib/reportlab/graphics/charts/spider.py
include mwlib/reportlab/graphics/charts/textlabels.py
include mwlib/reportlab/graphics/charts/utils.py
include mwlib/reportlab/graphics/charts/utils3d.py
include mwlib/reportlab/graphics/renderPDF.py
include mwlib/reportlab/graphics/renderPM.py
include mwlib/reportlab/graphics/renderPS.py
include mwlib/reportlab/graphics/renderSVG.py
include mwlib/reportlab/graphics/renderbase.py
include mwlib/reportlab/graphics/samples/__init__.py
include mwlib/reportlab/graphics/samples/bubble.py
include mwlib/reportlab/graphics/samples/clustered_bar.py
include mwlib/reportlab/graphics/samples/clustered_column.py
include mwlib/reportlab/graphics/samples/excelcolors.py
include mwlib/reportlab/graphics/samples/exploded_pie.py
include mwlib/reportlab/graphics/samples/filled_radar.py
include mwlib/reportlab/graphics/samples/line_chart.py
include mwlib/reportlab/graphics/samples/linechart_with_markers.py
include mwlib/reportlab/graphics/samples/radar.py
include mwlib/reportlab/graphics/samples/runall.py
include mwlib/reportlab/graphics/samples/scatter.py
include mwlib/reportlab/graphics/samples/scatter_lines.py
include mwlib/reportlab/graphics/samples/scatter_lines_markers.py
include mwlib/reportlab/graphics/samples/simple_pie.py
include mwlib/reportlab/graphics/samples/stacked_bar.py
include mwlib/reportlab/graphics/samples/stacked_column.py
include mwlib/reportlab/graphics/shapes.py
include mwlib/reportlab/graphics/testdrawings.py
include mwlib/reportlab/graphics/testshapes.py
include mwlib/reportlab/graphics/widgetbase.py
include mwlib/reportlab/graphics/widgets/__init__.py
include mwlib/reportlab/graphics/widgets/eventcal.py
include mwlib/reportlab/graphics/widgets/flags.py
include mwlib/reportlab/graphics/widgets/grids.py
include mwlib/reportlab/graphics/widgets/markers.py
include mwlib/reportlab/graphics/widgets/signsandsymbols.py
include mwlib/reportlab/lib/PyFontify.py
include mwlib/reportlab/lib/__init__.py
include mwlib/reportlab/lib/abag.py
include mwlib/reportlab/lib/attrmap.py
include mwlib/reportlab/lib/boxstuff.py
include mwlib/reportlab/lib/codecharts.py
include mwlib/reportlab/lib/colors.py
include mwlib/reportlab/lib/corp.py
include mwlib/reportlab/lib/enums.py
include mwlib/reportlab/lib/extformat.py
include mwlib/reportlab/lib/fontfinder.py
include mwlib/reportlab/lib/fonts.py
include mwlib/reportlab/lib/formatters.py
include mwlib/reportlab/lib/geomutils.py
include mwlib/reportlab/lib/logger.py
include mwlib/reportlab/lib/normalDate.py
include mwlib/reportlab/lib/pagesizes.py
include mwlib/reportlab/lib/pdfencrypt.py
include mwlib/reportlab/lib/randomtext.py
include mwlib/reportlab/lib/rltempfile.py
include mwlib/reportlab/lib/rparsexml.py
include mwlib/reportlab/lib/sequencer.py
include mwlib/reportlab/lib/set_ops.py
include mwlib/reportlab/lib/styles.py
include mwlib/reportlab/lib/testutils.py
include mwlib/reportlab/lib/textsplit.py
include mwlib/reportlab/lib/tocindex.py
include mwlib/reportlab/lib/units.py
include mwlib/reportlab/lib/utils.py
include mwlib/reportlab/lib/validators.py
include mwlib/reportlab/lib/xmllib.py
include mwlib/reportlab/lib/yaml.py
include mwlib/reportlab/license.txt
include mwlib/reportlab/pdfbase/__init__.py
include mwlib/reportlab/pdfbase/_can_cmap_data.py
include mwlib/reportlab/pdfbase/_cidfontdata.py
include mwlib/reportlab/pdfbase/_fontdata.py
include mwlib/reportlab/pdfbase/cidfonts.py
include mwlib/reportlab/pdfbase/pdfdoc.py
include mwlib/reportlab/pdfbase/pdfform.py
include mwlib/reportlab/pdfbase/pdfmetrics.py
include mwlib/reportlab/pdfbase/pdfpattern.py
include mwlib/reportlab/pdfbase/pdfutils.py
include mwlib/reportlab/pdfbase/rl_codecs.py
include mwlib/reportlab/pdfbase/ttfonts.py
include mwlib/reportlab/pdfgen/__init__.py
include mwlib/reportlab/pdfgen/canvas.py
include mwlib/reportlab/pdfgen/pathobject.py
include mwlib/reportlab/pdfgen/pdfgeom.py
include mwlib/reportlab/pdfgen/pdfimages.py
include mwlib/reportlab/pdfgen/pycanvas.py
include mwlib/reportlab/pdfgen/textobject.py
include mwlib/reportlab/platypus/__init__.py
include mwlib/reportlab/platypus/doctemplate.py
include mwlib/reportlab/platypus/figures.py
include mwlib/reportlab/platypus/flowables.py
include mwlib/reportlab/platypus/frames.py
include mwlib/reportlab/platypus/para.py
include mwlib/reportlab/platypus/paragraph.py
include mwlib/reportlab/platypus/paraparser.py
include mwlib/reportlab/platypus/tableofcontents.py
include mwlib/reportlab/platypus/tables.py
include mwlib/reportlab/platypus/xpreformatted.py
include mwlib/reportlab/rl_config.py
include mwlib/rl_addons/README
include mwlib/rl_addons/renderPM/MANIFEST.in
include mwlib/rl_addons/renderPM/_renderPM.c
include mwlib/rl_addons/renderPM/gt1/gt1-dict.c
include mwlib/rl_addons/renderPM/gt1/gt1-dict.h
include mwlib/rl_addons/renderPM/gt1/gt1-misc.h
include mwlib/rl_addons/renderPM/gt1/gt1-namecontext.c
include mwlib/rl_addons/renderPM/gt1/gt1-namecontext.h
include mwlib/rl_addons/renderPM/gt1/gt1-parset1.c
include mwlib/rl_addons/renderPM/gt1/gt1-parset1.h
include mwlib/rl_addons/renderPM/gt1/gt1-region.c
include mwlib/rl_addons/renderPM/gt1/gt1-region.h
include mwlib/rl_addons/renderPM/gt1/gt1-value.h
include mwlib/rl_addons/renderPM/gt1/parseAFM.c
include mwlib/rl_addons/renderPM/gt1/parseAFM.h
include mwlib/rl_addons/renderPM/libart_lgpl/AUTHORS
include mwlib/rl_addons/renderPM/libart_lgpl/COPYING
include mwlib/rl_addons/renderPM/libart_lgpl/ChangeLog
include mwlib/rl_addons/renderPM/libart_lgpl/Makefile.am
include mwlib/rl_addons/renderPM/libart_lgpl/NEWS
include mwlib/rl_addons/renderPM/libart_lgpl/README
include mwlib/rl_addons/renderPM/libart_lgpl/README.CVS
include mwlib/rl_addons/renderPM/libart_lgpl/acconfig.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_affine.c
include mwlib/rl_addons/renderPM/libart_lgpl/art_affine.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_alphagamma.c
include mwlib/rl_addons/renderPM/libart_lgpl/art_alphagamma.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_bpath.c
include mwlib/rl_addons/renderPM/libart_lgpl/art_bpath.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_config.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_filterlevel.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_gray_svp.c
include mwlib/rl_addons/renderPM/libart_lgpl/art_gray_svp.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_misc.c
include mwlib/rl_addons/renderPM/libart_lgpl/art_misc.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_pathcode.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_pixbuf.c
include mwlib/rl_addons/renderPM/libart_lgpl/art_pixbuf.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_point.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_rect.c
include mwlib/rl_addons/renderPM/libart_lgpl/art_rect.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_rect_svp.c
include mwlib/rl_addons/renderPM/libart_lgpl/art_rect_svp.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_rect_uta.c
include mwlib/rl_addons/renderPM/libart_lgpl/art_rect_uta.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_render.c
include mwlib/rl_addons/renderPM/libart_lgpl/art_render.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_render_gradient.c
include mwlib/rl_addons/renderPM/libart_lgpl/art_render_gradient.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_render_mask.c
include mwlib/rl_addons/renderPM/libart_lgpl/art_render_mask.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_render_svp.c
include mwlib/rl_addons/renderPM/libart_lgpl/art_render_svp.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_rgb.c
include mwlib/rl_addons/renderPM/libart_lgpl/art_rgb.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_rgb_a_affine.c
include mwlib/rl_addons/renderPM/libart_lgpl/art_rgb_a_affine.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_rgb_affine.c
include mwlib/rl_addons/renderPM/libart_lgpl/art_rgb_affine.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_rgb_affine_private.c
include mwlib/rl_addons/renderPM/libart_lgpl/art_rgb_affine_private.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_rgb_bitmap_affine.c
include mwlib/rl_addons/renderPM/libart_lgpl/art_rgb_bitmap_affine.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_rgb_pixbuf_affine.c
include mwlib/rl_addons/renderPM/libart_lgpl/art_rgb_pixbuf_affine.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_rgb_rgba_affine.c
include mwlib/rl_addons/renderPM/libart_lgpl/art_rgb_rgba_affine.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_rgb_svp.c
include mwlib/rl_addons/renderPM/libart_lgpl/art_rgb_svp.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_rgba.c
include mwlib/rl_addons/renderPM/libart_lgpl/art_rgba.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_svp.c
include mwlib/rl_addons/renderPM/libart_lgpl/art_svp.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_svp_intersect.c
include mwlib/rl_addons/renderPM/libart_lgpl/art_svp_intersect.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_svp_ops.c
include mwlib/rl_addons/renderPM/libart_lgpl/art_svp_ops.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_svp_point.c
include mwlib/rl_addons/renderPM/libart_lgpl/art_svp_point.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_svp_render_aa.c
include mwlib/rl_addons/renderPM/libart_lgpl/art_svp_render_aa.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_svp_vpath.c
include mwlib/rl_addons/renderPM/libart_lgpl/art_svp_vpath.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_svp_vpath_stroke.c
include mwlib/rl_addons/renderPM/libart_lgpl/art_svp_vpath_stroke.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_svp_wind.c
include mwlib/rl_addons/renderPM/libart_lgpl/art_svp_wind.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_uta.c
include mwlib/rl_addons/renderPM/libart_lgpl/art_uta.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_uta_ops.c
include mwlib/rl_addons/renderPM/libart_lgpl/art_uta_ops.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_uta_rect.c
include mwlib/rl_addons/renderPM/libart_lgpl/art_uta_rect.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_uta_svp.c
include mwlib/rl_addons/renderPM/libart_lgpl/art_uta_svp.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_uta_vpath.c
include mwlib/rl_addons/renderPM/libart_lgpl/art_uta_vpath.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_vpath.c
include mwlib/rl_addons/renderPM/libart_lgpl/art_vpath.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_vpath_bpath.c
include mwlib/rl_addons/renderPM/libart_lgpl/art_vpath_bpath.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_vpath_dash.c
include mwlib/rl_addons/renderPM/libart_lgpl/art_vpath_dash.h
include mwlib/rl_addons/renderPM/libart_lgpl/art_vpath_svp.c
include mwlib/rl_addons/renderPM/libart_lgpl/art_vpath_svp.h
include mwlib/rl_addons/renderPM/libart_lgpl/autogen.sh
include mwlib/rl_addons/renderPM/libart_lgpl/config.h
include mwlib/rl_addons/renderPM/libart_lgpl/configure.in
include mwlib/rl_addons/renderPM/libart_lgpl/gen_art_config.c
include mwlib/rl_addons/renderPM/libart_lgpl/libart-2.0.pc.in
include mwlib/rl_addons/renderPM/libart_lgpl/libart-config.in
include mwlib/rl_addons/renderPM/libart_lgpl/libart-features.c
include mwlib/rl_addons/renderPM/libart_lgpl/libart-features.h.in
include mwlib/rl_addons/renderPM/libart_lgpl/libart.h
include mwlib/rl_addons/renderPM/libart_lgpl/libart.m4
include mwlib/rl_addons/renderPM/libart_lgpl/libartConf.sh.in
include mwlib/rl_addons/renderPM/libart_lgpl/test_gradient.c
include mwlib/rl_addons/renderPM/libart_lgpl/testart.c
include mwlib/rl_addons/renderPM/libart_lgpl/testuta.c
include mwlib/rl_addons/renderPM/pfm.py
include mwlib/rl_addons/renderPM/setup.py
include mwlib/rl_addons/renderPM/test_renderPM.py
include mwlib/rl_addons/renderPM/tr.py
include mwlib/rl_addons/rl_accel/MANIFEST.in
include mwlib/rl_addons/rl_accel/Makefile.pre.in
include mwlib/rl_addons/rl_accel/README.extensions
include mwlib/rl_addons/rl_accel/Setup.in
include mwlib/rl_addons/rl_accel/__BUILD.dsw
include mwlib/rl_addons/rl_accel/_rl_accel.c
include mwlib/rl_addons/rl_accel/_rl_accel.dsp
include mwlib/rl_addons/rl_accel/_rl_accel.java
include mwlib/rl_addons/rl_accel/hnjalloc.c
include mwlib/rl_addons/rl_accel/hnjalloc.h
include mwlib/rl_addons/rl_accel/hyphen.c
include mwlib/rl_addons/rl_accel/hyphen.h
include mwlib/rl_addons/rl_accel/hyphen.mashed
include mwlib/rl_addons/rl_accel/pyHnj.dsp
include mwlib/rl_addons/rl_accel/pyHnjmodule.c
include mwlib/rl_addons/rl_accel/sgmlop.c
include mwlib/rl_addons/rl_accel/sgmlop.dsp
include mwlib/rl_addons/rl_accel/tests/getrc.py
include mwlib/rl_addons/rl_accel/tests/t0.py
include mwlib/rl_addons/rl_accel/tests/t1.py
include mwlib/rl_addons/rl_accel/tests/t2.py
include mwlib/rl_addons/rl_accel/tests/t3.py
include mwlib/rl_addons/rl_accel/tests/t4.py
include mwlib/rl_addons/rl_accel/tests/t5.py
include setup.py
include update.sh
